[include]
  path = ~/.gitconfig-user
[commit]
	gpgsign = true
[alias]
	#url = ls-remote --get-url| sed "s/git@\(.*\):\(.*\).git/https:\/\/\1\/\2/")/tree/$(git symbolic-ref --quiet --short HEAD )/$(git rev-parse --show-prefix)
[push]
	autoSetupRemote = true
[branch]
  autoSetupMerge = simple
[fetch]
    prune = true
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
[delta]
    line-numbers = true
    syntax-theme = Dracula
    plus-style = "syntax #2A363B"
    plus-emph-style = "syntax #2D4E45"
    minus-style = "syntax #3B2C37"
    minus-emph-style = "syntax #613038"
[init]
    defaultBranch = main
