# shellcheck shell=sh

# shortcuts and setting defaults
alias rcv='docker run --rm -ti -v "${PWD}/renovate.json:/usr/src/app/renovate.json" renovate/renovate renovate-config-validator'
rg() { /opt/homebrew/bin/rg -i --hidden "$@"; }

# git goodness
gs() { git status "$@"; }
alias gsu='git status -uno'
alias gco='git checkout'
alias gcod='git checkout $(git default)'
alias gl='git log'
alias gls='git show'
alias gp='git pull --rebase'
alias gpm='git stash save; git checkout master||git checkout main; git pull --rebase'

# misc
lsusb() { system_profiler SPUSBDataType "$@"; }

## z-shell goodness
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias cp10k="p10k configure"
alias lg='lazygit'
fd(){ /opt/homebrew/bin/fd --follow --hidden --exclude .git "$@"; }
v(){ /opt/homebrew/bin/fd --follow --type f --hidden --exclude .git "$@"|fzf-tmux -p --reverse| xargs nvim }

[ -f ~/.aliases-work ] && { . ~/.aliases-work; }
