# work-specific environment variables
# symlink or copy to ~/.zshenv-local

# Template ... 

# export GIT_USERNAME=
# export GIT_USER=${GIT_USERNAME}

# export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"
# export TF_IN_AUTOMATION=true
